# DISABLED_TO_TRACK_ALL: node_modules/
# DISABLED_TO_TRACK_ALL: dist/
# DISABLED_TO_TRACK_ALL: .env
# DISABLED_TO_TRACK_ALL: .env.*
# DISABLED_TO_TRACK_ALL: !.env.example
# DISABLED_TO_TRACK_ALL: android/
# DISABLED_TO_TRACK_ALL: .DS_Store
# DISABLED_TO_TRACK_ALL: .wrangler/
# DISABLED_TO_TRACK_ALL: .dev.vars
# DISABLED_TO_TRACK_ALL: .dev.vars.*
# DISABLED_TO_TRACK_ALL: !.dev.vars.example
# DISABLED_TO_TRACK_ALL: *.tsbuildinfo
# DISABLED_TO_TRACK_ALL: *.apk
# DISABLED_TO_TRACK_ALL: *.aab
# DISABLED_TO_TRACK_ALL: *.jks
# DISABLED_TO_TRACK_ALL: *.keystore
# DISABLED_TO_TRACK_ALL: .gradle/
# DISABLED_TO_TRACK_ALL: build/
